<div class="nav-fix">
    <div class="icon" >
        <i class='bx bx-menu'></i>
        <i class='bx bx-x' style="display: none;"></i>
    </div>
    <ul>
        <li><a href="#banner" class="iten-menu"><i class='bx bx-user-voice nav'></i></a></li>
        <li><a href="#experiencia" class="iten-menu"><i class='bx bx-hard-hat nav'></i></a></li>
        <li><a href="#educacion" class="iten-menu"><i class='bx bxs-graduation nav'></i></a></li>
        <li><a href="#skils" class="iten-menu"><i class='bx bx-objects-horizontal-right nav'></i></a></li>
        <li><a href="#proyectos" class="iten-menu"><i class='bx bx-spreadsheet'></i></a></li>
    </ul>
</div>
<script src="/src/assets/js/menu.js"></script>
