<section class="experiencia" id="experiencia">
    <div class="experiencia-center">
        <h3>Mi experiencia</h3>
        <div class="contenido-experiencia">
            <ul>
                <li *ngFor="let experiencia of miPortfolio"> 
                <div class="card-experiencia">
                    <div class="card-imagen"><a href="https://larrea325.com" target="_blank"><img [src]="experiencia.imagen" alt=""></a></div>
                    
                    <div class="texto-exp">
                        <a href="https://larrea325.com" target="_blank"><h3>{{experiencia.trabajo}}</h3></a>
                        <p>{{experiencia.contenido}}</p>
                    </div>
                </div>
            </li>
        </ul>
            <!-- <div class="card-experiencia">
                <div class="card-imagen"><a href="https://larrea325.com" target="_blank"><img [src]="miPortfolio.experiencia[1].imagen" alt=""></a></div>
                
                <div class="texto-exp">
                    <a href="https://larrea325.com" target="_blank"><h3>{{miPortfolio.experiencia[1].trabajo}}</h3></a>
                    <p>{{miPortfolio.experiencia[1].contenido}}</p>
                </div>
            </div>
            <div class="card-experiencia">
                <div class="card-imagen"><a href="#" target="_blank">
                    <img [src]="miPortfolio.experiencia[2].imagen" alt=""></a></div>
                
                <div class="texto-exp">
                    <a href="https://larrea325.com" target="_blank">
                        <h3>{{miPortfolio.experiencia[2].trabajo}}</h3></a>
                    <p>{{miPortfolio.experiencia[2].contenido}}</p>
                </div>
            </div> -->
    </div>
    </div>
</section>
