<section class="proyectos"  id="proyectos">
    <div class="proyectos-center">
    <div class="proyectos-titulo">
        <h2>Proyectos</h2>
    </div>
    <div class="proyectos-content">
        <div class="card-proyectos">
          <a href="https://larrea325.com/index.html" target="_blank"><div class="arriba"></div></a>
          <a href="https://larrea325.com/index.html" target="_blank"><div class="abajo">
            <h2>Ir al sitio...</h2>
          </div></a>
            <a href="https://larrea325.com/index.html" target="_blank">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="1500">
                    <img src="./../../../assets/img/tienda.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="1500">
                    <img src="./../../../assets/img/tienda2.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="1500">
                    <img src="./../../../assets/img/tienda3.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="pro-t">
                <h2>Tienda online</h2>
                <p>Es mi primer proyecto de uso real, actualmento esta subido a hostinger y le compre un domio para uso del cliente, se trata de una tiendo Online que recibe pedidos con un carrito y envia dicho pedido por whatsapp cuando tocas el boton correspondiente </p>
              </div>
            </a>
        </div>
        <div class="card-proyectos">
          <a href="https://adamsdev.network" target="_blank"><div class="arriba"></div></a>
          <a href="https://adamsdev.network" target="_blank"><div class="abajo">
            <h2>Ir al sitio...</h2>
          </div></a>
          <a href="https://adamsdev.network" target="_blank">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1500">
                  <img src="./../../../assets/img/prot.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                  <img src="./../../../assets/img/port2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                  <img src="./../../../assets/img/port3.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="pro-t">
              <h2>Portfolio full styles</h2>
              <p>Mi portfolio que diseñe para mostrar mis habilidades de diseño y animaciones, tambien es un proyecto en uso, mi uso personal
              esta actualmente en hostiger y tambien le compre un dominio
              </p>
            </div>
          </a>
      </div>

    </div>
    
    </div>

</section>
